* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

body {
    display: flex;
    flex-direction: column;
    width: 1400px;
    height: 2666px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border: 1px solid #c0bcce;
    font-family: 'Open Sans', sans-serif;
  }

header {
    width: 100%;
    height : 52px;
    display: flex;
    background: #DD5555;
  }

.top-bar {
    display: flex;
    width : 40%;
    margin-left: 131px;
}

.logo {
    display: flex;
    align-items: center;
    padding-right: 10px;
    margin: 12px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
  }

li {
    display: flex;
    padding: 10px;
    text-align: center;
}

a:link {
    outline: none;
    text-decoration: none;
    color: white;
}

li:hover {
    background: #a55353;
  }

.mainsection {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-image:url("images/about.png");
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 658px;
}

h1 {
    font-family: 'Open Sans', bold;
    font-size: 55px;
    padding: 10px;
}

.mainsection p {
    font-size: 25px;
    padding: 0px 0 20px 0;
    opacity: 1;
}

.socialbutton {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 112px;
    height: 46px;
    background-color:white;
    font-size: 12px;
    border-color: black;
    padding: 5px 12px;
    border-radius: 2px;
    margin: 20px 25px;
    opacity: 1;
}

.like {
    display: flex;
    font-size: 18px;
    color: black;
}

.social {
    display: flex;
    flex-direction: row;
}

.descriptions {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 750px;
}

h2 {
    font-family: 'Open Sans', semi-bold;
    font-size: 35px;
    color: black;
    padding-top: 52px;
    padding-bottom: 52px;
}

.tasklist {
    width: 1138xp;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.task {
    width: 358px;
    height: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    display: flex;
    justify-content: center;
    width: 120px;
    height: 120px;
    background: #DD5555 0% 0% no-repeat padding-box;
    border-radius: 50%;
}

h3 {
    display: flex;
    padding: 10px;
    font-family: 'Open Sans', semi-bold;
    font-size: 25px;
    color: black;
    text-align: center;
}

.task p {
    color: black;
    text-align: center;
}

.team {
    display: flex;
    width: 100%;
    height: 240px;
    background-image:url("images/team.jpg.png");
    background-size: 100%;
    background-position:top;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}

h4 {
    font-family: 'Open Sans', bold;
    font-size: 48px;
}

.teampresentation {
    display: flex;
    width: 100%;
    height: 429px;
    flex-direction: row;
    justify-content: space-around;
    align-items:flex-end;
}

.picture {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.picture img {
    width: 239px;
    height: 239px;
    border-radius: 50%;
}

h5 {
    font-family: 'Open Sans', semi-bold;
    font-size: 28px;
    color: black;
}

.texthim {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 132px;
    height: 40px;
    background-color:#DD5555;
    font-size: 12px;
    padding: 5px 12px;
    border-radius: 5px;
    margin: 20px 25px;
    opacity: 1;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 476px;
    margin-top: 40px;
    background-color: #DD5555;
}

h6 {
    font-family: 'Open Sans', semi-bold;
    font-size: 36px;
    letter-spacing: 0px;
}

.form {
    display: flex;
    padding-bottom: 50px;
}

.speaker-form {
    background-color:#DD5555; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

 .userform {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }

.form-row {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.speakerform label {
    font-size: 16px;
    text-align: left;
}

.form-row input {
    width: 358px;
    height: 32px;
    border-radius: 2px;
    border-color: #DD5555;
}

.form-text textarea {
    width: 748px;
    height: 112px;
    border-radius: 2px;
    border-color: #DD5555;
}

.form-text {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}

.form-send {
    display: flex;
    padding-top: 15px;
    padding-left: 951px;
}

button {
   display: flex;
   width: 123px;
   height: 46px; 
   border-radius: 5px;
   border-color: #DD5555;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}